@import "tailwindcss";

body {
  @apply bg-gray-900 text-white font-sans;
  
}

@keyframes glowPulse {
  0%, 100% {
    box-shadow: 0 0 8px rgba(168, 85, 247, 0.4), 0 0 12px rgba(168, 85, 247, 0.2);
  }
  50% {
    box-shadow: 0 0 14px rgba(168, 85, 247, 0.6), 0 0 20px rgba(168, 85, 247, 0.3);
  }
}

.animate-glowPulse {
  animation: glowPulse 1.2s infinite ease-in-out;
}

.logo-glass {
  transition: all 0.3s ease;
}

.logo-glass:hover {
  transform: translateY(-2px);
}
